.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:var(--col-1);
  transition: background-color 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fefefa;
  transition: transform 0.4s;
}

input:checked + .slider {
  background-color: var(--col-1);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--col-1);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.login-button {
  background-image: linear-gradient(
    to right,
    var(--main-bg) 0%,
    var(--main-bg-2) 51%,
    var(--col-1) 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

input:checked + .login-left-pane {
  transform: translateX(45vw);
  transition: transform 0.5s ease-in-out;
}

input:checked + .rightpane {
  transform: translateX(-45vw);
  transition: transform 0.5s ease-in-out;
}

.login-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
